@{
    ViewData["Title"] = "Politica de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<h3>@ViewData["Message"]</h3>

<p>O Zoológico Municipal valoriza a privacidade e a segurança dos dados dos nossos visitantes e usuários. Esta política de privacidade descreve como coletamos, usamos e protegemos as informações pessoais fornecidas ao acessar nosso site ou visitar nossas instalações.</p>
<p>
    <b>Coleta de Dados</b>
    Coletamos informações pessoais, como nome, e-mail, telefone e outras informações de contato, quando você:

    - Preenche formulários de contato ou cadastro em nosso site
    - Compra ingressos ou produtos em nossa loja online
    - Participa de eventos ou atividades em nossas instalações
    - Interage conosco nas redes sociais
</p>

<p>
    <b>Uso de Dados</b>
    Usamos as informações coletadas para:

    - Fornecer serviços e produtos solicitados
    - Enviar atualizações e notícias sobre o Zoológico Municipal
    - Melhorar a experiência do usuário em nosso site e instalações
    - Realizar análises estatísticas e de mercado
</p>

<p>
    <b>Proteção de Dados</b>
    Implementamos medidas de segurança para proteger as informações pessoais contra acessos não autorizados, perda ou dano. Nosso site utiliza protocolos de segurança padrão, como HTTPS, para garantir a criptografia dos dados transmitidos.

</p>

<p>

    <b>Compartilhamento de Dados</b>
    Não compartilhamos suas informações pessoais com terceiros, exceto:

    - Quando necessário para fornecer serviços ou produtos solicitados
    - Para cumprir com obrigações legais ou regulamentares
    - Com parceiros e fornecedores que tenham acordos de não divulgação

</p>

<p>
    <b>Seus Direitos</b>
    Você tem o direito de:

    - Acessar e corrigir suas informações pessoais
    - Solicitar a exclusão de suas informações pessoais
    - Optar por não receber comunicações nossas

    Atualizações
    Esta política de privacidade pode ser atualizada periodicamente. Recomendamos que você verifique regularmente esta página para estar ciente de quaisquer mudanças.

</p>

<p>
    <b>Contato</b>
    Se você tiver alguma dúvida ou preocupação sobre nossa política de privacidade, por favor, entre em contato conosco:

    [E-mail]
    [Telefone]
    [Endereço]
</p>



<b>Obrigado por confiar no Zoológico Municipal!</b>